@import url("https://fonts.googleapis.com/css?family=Merriweather:300|Roboto:300,400");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Consolas", sans-serif;
  background: #fff;
}
.navbar {
  background-color: #333;
  padding: 10px 20px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}
.navlink {
  color: #fff;
  padding-right: 10px;
}
.navlink:hover {
  color: #ddd;
  text-decoration: underline;
}
.navlinks {
  padding-left: 20px;
}
.navbar-brand {
  color: #fff;
  font-size: 24pt;
  font-family: "Merriweather";
}
.portrait-wrapper {
  text-align: center;
}
.portrait {
  border-radius: 50%;
  width: 150px;
  margin-bottom: 10px;
}
h1 {
  padding: 0 20px;
  font-weight: lighter;
  color: #333;
  margin: 0;
  font-family: "Merriweather";
}
a {
  text-decoration: none;
}
h1.section-title {
  font-size: 35pt;
  padding-left: 20px;
  text-align: center;
  margin-bottom: 20px;
  background-color: #fffdf6;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}
.section-content {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
p {
  margin: 0;
}
p.section-description {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  text-align: center;
  margin-bottom: 20px;
}
h1.project-title {
  padding-top: 10px;
  padding-bottom: 10px;
}
h1.project-title:hover {
  text-decoration: underline;
}
p.project-text {
  font-size: 10pt;
  padding: 0 20px 30px 20px;
}
hr {
  margin: 0 auto;
}
hr.divider-project {
  width: 50%;
}
form {
  max-width: 600px;
  padding: 0 20px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
}
.form-content-wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 450px;
  min-width: 350px;
}
.form-email {
  width: 200px;
  padding: 2px;
  margin-bottom: 10px;
}
.form-message {
  max-width: 450px;
  min-width: 350px;
  padding: 2px;
  margin-bottom: 10px;
}
footer {
  background-color: #333;
  padding: 10px 20px;
  color: #fff;
}
.contact-icons {
  margin: 0 auto;
  max-width: 300px;
  display: flex;
  justify-content: space-evenly;
}
.contact-icon {
  height: 30px;
  padding: 0 5px;
}
